@import "tailwindcss";
@plugin "daisyui";

/* Optional: Define your default daisyUI theme */
:root {
  --color-primary: var(--color-sky-500);
}

@layer base {
  body {
    @apply antialiased text-base-content bg-base-100;
  }
}

body,
html,
:root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  overflow-x: hidden;
}

/* DaisyUI customizations */
.btn-primary {
  @apply bg-blue-600 text-yellow-300 hover:bg-blue-700;
}
.btn-secondary {
  @apply bg-green-600 text-white hover:bg-green-700;
}
